.product-action-view {

  margin: 1em 0;

  > button {
    text-align: center;
    font-size: 11px;
    height: 45px;
    line-height: 18px;
    color: #777;
    padding-top: 2px;
    width: 60px;

    &:before {
      display: block;
      font-size: 15px;
      color: #333;
      line-height: 1em;
    }
  }

  .history:before {
    content: '\25F7';
  }

  .edit:before {
    content: '\270E';
  }

  .delete:before {
    content: '\00D7';
  }

  .trump:before {
    content: '\2606';
  }

  @media screen and (max-width: 767px) {
    > button {
      font-size: 10px;
      width: 25%;
      left: 1px;
    }
  }
}
